* 
  box-sizing: border-box
img
  max-width: 100%  
a
  text-decoration: none
  &:visited
    color: #fff
body
  +Light
.separator
  display: flex
  height: 2px
  width: 76px
  background-color: #23b7b0
  margin: auto
  transform: translateY(10px)