.author
  background: url('../img/author/space-author.jpg')
  padding-top: 160px
  padding-bottom: 130px
  &-img
    margin: auto
    text-align: center
  &-separator
    margin: initial
  &-block
    &__title
      +Header
      font-size: 35px
      letter-spacing: 0.88px
      color: #ffffff
    &__name
      margin-top: 30px
      color: #10b5b0
      line-height: 40px
      font-size: 30px
      +Medium
      letter-spacing: 0.75px
    &__dspr
      margin-top: 20px
      +Book
      font-size: 23px
      line-height: 35px
      letter-spacing: 0.57px
      color: #ffffff
      max-width: 430px
  &-headers
    font-size: 35px
    line-height: 40px
    letter-spacing: 0.88px
    color: #ffffff
    margin-top: 80px
    +Light
  &-video
    margin-top: 46px
