.free
  &-block
    &-img img
      transform: translate(326px, -561px)
      position: absolute
      z-index: 5
  &-header
    display: flex
    &s
      margin-top: 79px
      max-width: 808px
      color: #3e3e3e
      +Header
      letter-spacing: 0.75px
  &-separator
    margin: initial
  &-frank
    margin-top: 66px
    position: absolute
    right: -140px
    width: 474px
  &-btn
    margin-top: 44px
    display: flex
    justify-content: space-between
    align-items: center
    width: 304px
    padding: 28px 40px 28px 37px
    box-shadow: 0 3px #01716c
    background-image: linear-gradient(to bottom, #0fb0a9 0%, #02918c 100%)
    border-radius: 5px
    &__text
      +Book
      line-height: 24px
      letter-spacing: 0.6px
      color: #ffffff
      font-size: 24px
@media ( max-width: 1720px )
  .free
    &-block
      &-img img
        transform: translate(164px, -561px)
@media ( max-width: 1500px )
  .free
    &-frank
      right: 0
@media ( max-width: 1420px )
  .free
    &-block
      &-img img
        transform: translate(0px, -561px)
@media ( max-width: 1200px )
  .free
    &-frank
      width: 340px
    &-headers
      max-width: 658px
    &-block
      &-img img
        transform: translate(15px, -498px)
        width: 55%
@media ( max-width: 992px )
  .free
    &-headers
      font-size: 22px
      max-width: 470px
    &-block
      &-img img
        transform: translate(15px, -382px)
@media ( max-width: 768px )
  .free
    padding-bottom: 50px
    margin: auto
    &-header
      flex-direction: column-reverse
      img
        position: initial
    &-btn
      padding: 21px 30px 16px 33px
      width: 209px
      &__text
        font-size: 18px
      &__img
        width: 32px
        height: 32px
    &-block
      &-img img
        transform: translate(15px, -308px)
@media ( max-width: 576px )
  .free
    padding-top: 30px
    &-frank
      margin-top: 0
    &-separator
      margin: auto
      margin-top: 5px
      margin-bottom: 30px
    &-btn
      margin: auto
      width: 80%
    &-header
      flex-direction: column-reverse
      &s
        font-size: 16px
        margin-top: 20px
        text-align: center
      img
        position: initial
    &-img
      &-img
        transform: translateY(27px)!important