.reward-12
  background-size: 50%
  clip-path: polygon(0 0, 100% 0, 78% 100%, 0 100%)
  &-block
    display: flex
    justify-content: space-between
  &-img
    transform: translateY(-56px)
    position: absolute
    z-index: 5
    right: 12%
  &-left
    flex-basis: 50%
  &-right
    flex-basis: 50%
  &-button
    display: flex
    justify-content: space-between
    padding: 26px 34px 21px 41px
    width: 305px
    background-image: linear-gradient(to bottom, #0fb0a9 0%, #02918c 100%)
    border-radius: 5px
    box-shadow: 0 3px #01716c
    margin-top: 50px
    &__text
      +Book
      font-size: 24px
      line-height: 22px
      color: #fff
.reward
  background: url('../img/reward/girl.jpg') no-repeat
  background-size: cover
  padding-top: 56px
  padding-bottom: 105px
  &-block
    &__title
      font-size: 35px
      letter-spacing: 0.88px
      +Header
      text-align: center
    &__list
      &-title        
        font-size: 52px
        letter-spacing: 0.17px
        line-height: 57px
        +Heavy
        color: #10b5b0
        &-1
          font-size: 20px
        &-2
          font-size: 20px
      &-subtitle
        font-size: 20px
        letter-spacing: 0.51px
        color: #3e3e3e
        +Light
        &-1
          width: 170px
      &-lists
        height: 323px
        margin-top: 86px
        &-1
          background: url('../img/reward/money.png') no-repeat right bottom -10px
          box-shadow: 0 0 45px rgba(209, 209, 209, 0.45)
          border-radius: 5px
          background-color: #ffffff
          padding: 20px 0px 0px 34px
          line-height: initial
          border-bottom: 10px solid #0fada8
        &-2
          background: url('../img/reward/percent.png') no-repeat right bottom -10px
          box-shadow: 0 0 45px rgba(209, 209, 209, 0.45)
          border-radius: 5px
          background-color: #ffffff
          padding: 20px 0px 0px 34px
          line-height: initial
          border-bottom: 10px solid #0fada8
        &-3
          background: url('../img/reward/number.png') no-repeat right bottom -10px
          box-shadow: 0 0 45px rgba(209, 209, 209, 0.45)
          border-radius: 5px
          background-color: #ffffff
          padding: 20px 0px 0px 34px
          line-height: initial
          box-sizing: border-box
          border-bottom: 10px solid #0fada8
        &-4
          background: url('../img/reward/people.png') no-repeat right bottom -10px, linear-gradient(to bottom, #0fb0a9 0%, #02918c 100%) 
          background-size: 50% 
          box-shadow: 0 0 45px rgba(209, 209, 209, 0.45)
          border-radius: 5px
          padding: 20px 0px 0px 34px
          line-height: initial
          box-sizing: border-box
.monitor
  margin: auto
  text-align: center
  &-img
    transform: translateY(-18px)
    margin-bottom: 60px
@media (max-width: 992px)
  .monitor
    &-img
      width: 80%
  .reward
    &-block
      &__list
        &-title
          font-size: 36px
          &-1
            font-size: 12px
          &-2
            font-size: 12px
@media (max-width: 768px)
  .monitor
    &-img
      width: 60%
  .reward
    padding-bottom: 45px
    background: initial
@media (max-width: 420px)
  .monitor
    &-img
      width: 80%
  .reward
    &-mobile
      &-1
        margin-top: 40px
      &-2
        margin-top: 25px
      &-3
        margin-top: 25px
      &-4
        margin-top: 25px
    &-block
      &__list
        &-subtitle
          font-size: 14px
        &-lists 
          height: 250px         
          &-1
            width: 80%
            margin: auto
          &-2
            width: 80%
            margin: auto
          &-3
            width: 80%
            margin: auto
          &-4
            width: 80%
            margin: auto