.road
  background: #f4f3f3
  z-index: 0
  &-block
    display: block
    max-width: 350px
    text-align: right
  &-btn
    margin-top: 44px
    display: flex
    justify-content: space-between
    align-items: center
    width: 304px
    padding: 28px 40px 28px 37px
    box-shadow: 0 3px #01716c
    background-image: linear-gradient(to bottom, #0fb0a9 0%, #02918c 100%)
    border-radius: 5px
    &__img
    &__text
      +Book
      line-height: 24px
      letter-spacing: 0.6px
      color: #ffffff
      font-size: 24px
@media ( max-width: 992px )
  .road
    padding-top: 62px
    padding-bottom: 75px
@media ( max-width: 768px )
  .road
    &-btn
      padding: 21px 25px 16px 30px
      width: 227px
      &__text
        font-size: 18px       
      &__img
        width: 34px
        height: 34px 
@media ( max-width: 576px )
  .road
    &-block
      text-align: center
      margin: auto
    &-btn
      width: 100%